.conceptBtn {
    font-size: 14px;
    font-family: 'Geometria';
    color: $theme1;
    transition: all ease-in-out 0.3s;
    & span {
        width: 10px;
        & img {
            object-fit: contain;
            transform: rotate(-45deg);
            transition: all ease-in-out 0.3s;
        }
    }
    &:hover{
        & span {
            & img {
                transform: rotate(0deg);
            }
        }
    }
    &.borderdBtn {
        position: relative;
        color: $white;
        z-index: 1;
        overflow: hidden;
        &::after, &::before{
            content: '';
            position: absolute;
            height: 100%;
            left: 0px;
            top: 0px;
            border-radius: 50px;
        }
        &:after{
            width: 100%;
            border: 2px solid $theme2;
        }
        &::before{
            width: 82%;
            background-color: $theme2;
            z-index: -1;
            transition: all ease-in-out 0.3s;
        }
        &:hover{
            &::before{
                width: 100%;
            }
            & span {
                & img {
                    filter: brightness(10);
                }
            }
        }
        &.borderwhiteBtn {
            color: $theme1 ;
        &:after{
            border: 2px solid $white;
        }
        &::before{
            width: 79.5%;
            background-color: $white;
        }
        & span {
            & img {
                filter: brightness(10);
            }
        }
        &:hover{
            &::before{
                width: 100%;
            }
            & span {
                & img {
                    filter: unset;
                }
            }
        }
        }
    }
}


@include media-breakpoint(basic) {
}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}


@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {
}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {
}
