.countHeading {
    font-size: 70px;
    line-height: 100%;
    font-family: 'Geometria';
    & span {
        font-size: 35px;
        line-height: 100%;
    }
    &.experiences {
        font-family: 'LMRoman';
        & span{
                font-family: 'Geometria';
        }
    }
}


@include media-breakpoint(basic) {
}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {

}

@include media-breakpoint-up(xl) {
    .countHeading {
        font-size: 80px;
        & span {
            font-size: 40px;
        }
    }
}

@include media-breakpoint-up(xxl) {}


@include media-breakpoint-down(xxl) {

}

@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(md) {
    .countHeading {
        font-size: 60px;
        & span {
            font-size: 30px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .countHeading {
        font-size: 40px;
        & span {
            font-size: 20px;
        }
    }
}