.countHeading {
    font-size: 70px;
    line-height: 100%;
    font-family: 'Geometria';
    & span {
        font-size: 35px;
        line-height: 100%;
    }
    &.experiences {
        font-family: 'LMRoman';
        & span{
            font-family: 'Geometria';
        }
    }
}

.innerpageHeading {
    font-size: 35px;
    line-height: 120%;
    font-family: 'Geometria';
    font-weight: 300;
    & span {
        font-size: 25px;
        font-family: 'LMRoman';
        line-height: 100%;
    }
}
.selfHeading {
    font-size: 50px;
    line-height: 120%;
}

@include media-breakpoint(basic) {
}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {

}

@include media-breakpoint-up(xl) {
    .countHeading {
        font-size: 80px;
        & span {
            font-size: 40px;
        }
    }
}

@include media-breakpoint-up(xxl) {}


@include media-breakpoint-down(xxl) {

}

@include media-breakpoint-down(xl) {
    .innerpageHeading {
        font-size: 33px;
        & span {
            font-size: 22px;
        }
    }
    .selfHeading {
        font-size: 45px;
    }
}

@include media-breakpoint-down(lg) {
    .innerpageHeading {
        font-size: 30px;
        & span {
            font-size: 20px;
        }
    }
    .selfHeading {
        font-size: 40px;
    }
    
}

@include media-breakpoint-down(md) {
    .countHeading {
        font-size: 60px;
        & span {
            font-size: 30px;
        }
    }
    .innerpageHeading {
        font-size: 28px;
        & span {
            font-size: 18px;
        }
    }
    .selfHeading {
        font-size: 35px;
    }
}

@include media-breakpoint-down(sm) {
    .countHeading {
        font-size: 40px;
        & span {
            font-size: 20px;
        }
    }
    .innerpageHeading {
        font-size: 25px;
        & span {
            font-size: 15px;
        }
    }
    .selfHeading {
        font-size: 30px;
    }
}