@charset "UTF-8";


// * tastemakerssection Start
.sectionheading {
    color: $gray-600;
}
.textcontent ,  .sectionheading{
    font-size: 22px;
    line-height: 150%;
    color: $theme1;
}
.textcontent {
    opacity: 0.8;
}

// * tastemakerssection End


// * ethosSection
.ethosSection {
    & .innersection{
        & .ethosImg {
            margin-bottom: -4rem;
        }
    }
}
// * ethosSection



// * That Count Section
.thatcountFunction {
    & .innerfluid {
        background: url(../img/facilitiesBack.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 600px;
    }
}
// * That Count Section


// * gourmentsection
.gourmentsection {
    & .innerfluid {
        & .rightsdePopuo {
            margin-top: -80px;
            max-width: 330px;
            max-height: 200px;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
            & span {
                position: relative;
                &::before{
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    background-color: $gray-300;
                    transition: all 0.3s ease-in-out;
                }
            }
            &:hover{
                & span {
                    &::before{
                        top: 0;
                    }
                }
            }
        }
        & .bottomSide {
            & .content {
                text-transform: capitalize;
                font-size: 25px;
                font-family: 'Geometria';
                font-weight: 400;
                color: rgba($black, 0.7)
            }
            & .subContent {
                font-size: 22px;
                color: $gray-400;
            }
        }
    }
}
// * gourmentsection


// * memorableSection
.memorableSection {
    & .innerfluid {
        background-color: lighten($theme2, 10);
        & .contentSide {
            & .accordions {
                & .accordionItem {
                    & .accordionButton {
                        font-family: 'Geometria';
                        font-size: 20px;
                        border-bottom: 1px solid $theme2;
                        & span {
                            width: 30px;
                            height: 30px;
                            & img {
                                filter: brightness(10);
                                object-fit: contain;
                                transform: rotate(-45deg);
                                transition: all ease-in-out 0.3s;
                            }
                        }
                    }
                    &.active {
                        & .accordionButton {
                            & span {
                                background: $white;
                                & img {
                                    filter: unset;
                                    transform: rotate(0deg);
                                }
                            }
                        }
                    }
                }
            }
            & .accordionsImg {
                margin-right: -160px;
                & img {
                    object-fit: cover;
                }
            }
        }
    }
}
//  * memorableSection


@include media-breakpoint(basic) {
}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}


@include media-breakpoint-down(xxl) {
    
.textcontent ,  .sectionheading{
        font-size: 18px;
    }

    // * gourmentsection
.gourmentsection {
    & .innerfluid {
        & .rightsdePopuo {
            & span {
            }
        }
        & .bottomSide {
            & .content {
                font-size: 22px;
            }
            & .subContent {
                font-size: 20px;
            }
        }
    }
}
// * gourmentsection

}

@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {
.textcontent ,  .sectionheading{
        font-size: 16px;
    }
// * ethosSection
.ethosSection {
    overflow: hidden;
    padding-right: 0px;
    & .innersection{
    padding-right: 0px;
        & .ethosImg {
            margin-bottom: 0rem;
        }
    }
}
// * ethosSection


// * gourmentsection
.gourmentsection {
    & .innerfluid {
        & .rightsdePopuo {
            width: 35vw;
            height: 22vw;
            margin-top: -7vw;
        }
        & .bottomSide {
            & .content {
                font-size: 20px;
            }
            & .subContent {
                font-size: 18px;
            }
        }
    }
}
// * gourmentsection

// * memorableSection
.memorableSection {
    & .innerfluid {
        & .contentSide {
            & .accordions {
                & .accordionItem {
                    & .accordionButton {
                        & span {
                            & img {
                            }
                        }
                    }
                    &.active {
                        & .accordionButton {
                            & span {
                                & img {
                                }
                            }
                        }
                    }
                }
            }
            & .accordionsImg {
                margin-right: 0px;
            }
        }
    }
}
//  * memorableSection

}

@include media-breakpoint-down(md) {
    // * gourmentsection
.gourmentsection {
    & .innerfluid {
        & .rightsdePopuo {
        }
        & .bottomSide {
            & .content {
                font-size: 18px;
            }
            & .subContent {
                font-size: 16px;
            }
        }
    }
}
// * gourmentsection

// * memorableSection
.memorableSection {
    & .innerfluid {
        & .contentSide {
            & .accordions {
                & .accordionItem {
                    & .accordionButton {
                        font-size: 18px;
                        & span {
                            width: 28px;
                            height: 28px;
                            & img {
                            }
                        }
                    }
                    &.active {
                        & .accordionButton {
                            & span {
                                & img {
                                }
                            }
                        }
                    }
                }
            }
            & .accordionsImg {
            }
        }
    }
}
//  * memorableSection

}

@include media-breakpoint-down(sm) {
        // * gourmentsection
.gourmentsection {
    & .innerfluid {
        & .rightsdePopuo {
        }
        & .bottomSide {
            & .content {
                font-size: 16px;
            }
            & .subContent {
                font-size: 14px;
            }
        }
    }
}
// * gourmentsection
}