@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/* HomepageSection-2 */

.intro-text-container{
    display: flex;
    justify-content: flex-end;
    
}

.intro-text{
    width: 50%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    line-height: 36px;
    will-change: transform;
    text-align: start;
    color: #706359;
    margin-right: 80px;
}

.logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10vw;
}

.ethos-main-container{    
    background-color: #EAE6E0;
}

.ethos-container{
    display: flex;
    /* gap: 10px; */
}

.ethos-main-text{
    display: flex;
    margin-left: -3rem;
    
}

.ethos-text{
    font-family: 'Times New Roman', Times, serif;
    color: #555;
    font-size: 48px;
}

.ethos-intro-text{
    font-family: 'Times New Roman', Times, serif;
    color: #555;
    font-size: 24px;
    width: 330px;
    margin-left: calc(17.5vw + 130px);
    line-height: 1.8;
    text-align: start;
}

.ethos-2nd-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ethos-2nd-text{
    font-family: 'Times New Roman', Times, serif;
    color: #555;
    font-size: 24px;
    line-height: 2;
    width: 330px;
    text-align: start;
}

.ethos-logo-container{
    display: flex;
    justify-content: space-between;
    margin: 200px 80px 20px 80px;
}

.ethos-logo{
    height: 5rem;
}

.ethos-after-logo-text{
    font-family: 'Times New Roman', Times, serif;
    color: #706359;
    font-size: 24px;
    line-height: 1.6;
    width: 330px;
    text-align: start;
    margin-left: 80px;
    margin-top: 80px;
    margin-bottom: 0;
}

.suits-1st-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.suits-1st-heading{
    font-family: 'Arial Narrow';
    font-weight: 100;
    color: #706359;
    font-size: 42px;
    line-height: 1;
    width: 330px;
    text-align: start;
    margin-left: 460px;
    margin-top: 80px;
    margin-bottom: 0;
    letter-spacing: 6px;
}

.suits-2nd-heading{
    font-family:'Arial Narrow';
    font-weight: 100;
    color: #EAE6E0;
    font-size: 108px;
    line-height: 1;
    width: 330px;
    text-align: start;
    margin-left: 80px;
    margin-top: 0;
    letter-spacing:1rem;
}

.suits-1st-logo{
    margin-top: 80px;
    margin-right: 80px;
}

.suits-2nd-container{
    padding: 120px 80px;
    background-color: #EAE6E0;
    margin-top: -110px;
}

.suits-balcony-image{
    width: 99%;
}

/* test */


  
  /* .item{
    width: 40px;
    height: 40px;
    margin-right: 100px;
    margin-bottom: 100px;
  } */


.horizontal-scrolling{
    padding: 10px 80px 80px 80px;
    background-image: url('./../Assets/facilitiesBackFlower.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
}

.horizontal-main-small-heading{
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 24px;
    line-height: 1.6;
    text-align: center;
}

.horizontal-main-middle-heading{
    font-family: 'Arial Narrow';
    font-weight: 100;
    color: #fff;
    font-size: 48px;
    line-height: 1;
    text-align: end;
    margin-top: 20px;
    margin-bottom: 0;
    letter-spacing: 6px;
}

.horizontal-main-big-heading{
    font-family: 'Arial Narrow';
    font-weight: 100;
    color: #fff;
    font-size: 108px;
    line-height: 1;
    text-align: end;
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: 6px;
}

.Homepage-section-3{
    display: flex;
    gap: 80px;
    padding: 80px;
    background-color: #706359;
    margin-top: 160px;
    height: 300px;
}

.gourmet-Intro-pic{
    margin-top: -160px;
    margin-bottom: 80px;
}

.homepage-gourmet-left-div{
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: 0;
    padding-right: 100px;
}

.homepage-gourmet-left-div::-webkit-scrollbar {
    display: none;
}

.Homepage-gourmet-heading-1{
    font-family: 'Arial Narrow';
    font-weight: 100;
    color: #fff;
    font-size: 24px;
    line-height: 1;
    text-align: start;
    margin-top: 20px;
    margin-bottom: 0;
    letter-spacing: 1px;

}

.Homepage-gourmet-heading-2{
    font-family: 'Arial Narrow';
    font-weight: 100;
    color: #fff;
    font-size: 108px;
    line-height: 1;
    text-align: start;
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: 6px;
}

.Homepage-gourmet-heading-3{
    font-family: 'Arial Narrow';
    font-weight: 100;
    color: #fff;
    font-size: 36px;
    line-height: 1;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 180px;
    letter-spacing: 2px;   
}

.Homepage-fourmet-heading-container{
    margin-bottom: 100px;
}

.gourmet-big-image-1{
    width: 100%;
    height: auto;
}

.homepage-gourmet-bigimage1-description-1{    
    font-family: 'Arial Narrow';
    font-weight: 400;
    font-size: 20px;
    color: #706359;
    margin-bottom: 10px;
    margin-top: 0;
}

.homepage-gourmet-bigimage1-description-2{    
    font-family: 'Arial Narrow';
    font-weight: 400;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.gourmet-big-image-3, .gourmet-big-image-2{
    width: 100%;
}

.gourmet-big-image-container-2{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}


/* homepage section-4 */

.homepage-section-4-container{
    margin-top: 500px;
    background-color: #9D968D;
    padding: 80px 0 80px 80px;
}

.memorable-heading-container{
    margin-top: -155px;
}

.memorable-heading-1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: 100;
    color: #706359;
    margin-bottom: -30px;
    text-align: start;
    margin-left: 10px;
}

.memorable-heading-2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 108px;
    font-weight: 100;
    color: #fff;
    margin-top: 0;
    text-align: start;
}

.memorable-list-opener{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px ;

    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #fff;
    border-top: 0.8px solid #706359;
    border-bottom: 1px solid #706359;
    padding: 20px 0 20px 0;
}

.memorable-list-icon{
    background-color:#fff ;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.memorable-image-1{
    width: 100%;
    height: 500px;
    margin-top: -80px;
}

.memorable-image-2{
    width: 57.30%;
    height: 500px;
    margin-top: -70px;
}

.memorable-image-3{
    width: 92%;
    height: 500px;
    margin-top: -80px;
}

.memorable-image-4{
    width: 74.5%;
    height: 500px;
    margin-top: -80px;
}

.memorable-details-container{ 
    display: flex;
    justify-content: space-between;
}

.memorable-detail-1st-para{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #706359;
    margin-bottom: 40px;
}

.memorable-detail-2nd-para{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #fff;
    margin-bottom: 40px;
    line-height: 30px;
    width: 250px;
    margin-right: 380px;
}

.memorable-detail-button{
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
}

.button-arrow{
    margin-left: 10px;
    background-color: #706359;
    padding: 2px;
    border-radius: 50%;
    color: #fff;
}

.memorable-detail-button:hover > .button-arrow{
    transform: rotate(-45deg);
    transition: 0.3s;
}

.footer-main-container{
    padding: 20px 80px;
    background: url(../Assets/footerimage1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-company-name{
    font-family: 'Great Vibes', cursive;
    font-size: 48px;
    color: #fff;
    font-weight: 100;
    letter-spacing: 3px;
    font-style: italic;
    margin-bottom: 180px;
}

.footer-address{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    line-height: 1.5;
}

.footer-registration{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #fff;
}

.footer-social-logo-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-social-logo{
    width: 30px;
    height: 30px;
}


  
  
 
  
 