.accordionsImg {
  background-color: red;
  overflow: hidden;
  position: relative;
}

.accordionsImg img {
  transform: translateY(100%);
  position: absolute;
  top: 0;
  left: 0;
}

.accordionsImg img.active {
  transform: translateY(0);
  transition: 0.7s ease-in-out;

}

.accordionsImg img.fixImg {
  transform: translateY(0) !important;

}